# Tirando conclusões usando groupby

In [1]:
# Carregue o arquivo `winequality_edited.csv`
import pandas as pd

df = pd.read_csv('winequality_edited.csv')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

### Será que o tipo de vinho está associado a uma qualidade superior?

In [3]:
# Encontre a qualidade média de cada tipo de vinho (tinto e branco) com groupby
df.groupby('color')['quality'].mean()

color
red      5.636023
white    5.877909
Name: quality, dtype: float64

### Qual o nível de acidez que recebe a maior avaliação média?

In [5]:
# Observe os seguintes valores de pH com Pandas describe: min, 25%, 50%, 75% e max
df['pH'].describe()

count    6497.000000
mean        3.218501
std         0.160787
min         2.720000
25%         3.110000
50%         3.210000
75%         3.320000
max         4.010000
Name: pH, dtype: float64

In [6]:
# Bordas dos intervalos que serão usados para dividir os dados em grupos
bin_edges = [2.72, 3.11, 3.21, 3.32, 4.01] # Preencha esta lista com os cinco valores que você acabou de encontrar

In [18]:
# Rótulos para os quadro grupos de nível de acidez
bin_names = ['Baixo' , 'Médio', 'Moderadamente Médio', 'Alto'] # Nomeie cada categoria de nível de acidez

In [19]:
# Cria a coluna acidity_levels
df['acidity_levels'] = pd.cut(df['pH'], bin_edges, labels=bin_names)

# Verifica se esta coluna foi criada corretamente
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color,acidity_levels
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white,Baixo
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white,Moderadamente Médio
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white,Moderadamente Médio
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white,Médio
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white,Médio

In [20]:
# Encontre a qualidade média de cada nível de acidez com groupby
df.groupby('acidity_levels')['quality'].mean()

acidity_levels
Baixo                  5.783343
Médio                  5.784540
Moderadamente Médio    5.850832
Alto                   5.859593
Name: quality, dtype: float64

In [21]:
# Salve alterações para a próxima seção
df.to_csv('winequality_edited.csv', index=False)